<% var level = level|| 0;%>

<ul class="section-menu fs-regular">
	<% for(let id in menuTree) { %>
		<% var s = menuTree[id]%>
		<li class="section-menu-item <%=s.active ? 'active' : ''%>">
			<a href="<%= s.href %>" style="padding-left: <%= 20 * level%>px">
				<p><%=s.title + ' ' + level%></p>
				<small><%=s.address%></small>
			</a>
			<% if(!!menuTree[id]['childs'] === true) { %>
				<%- include('./aside-menu_template.ejs', {menuTree: menuTree[id]['childs'], level: level + 1}) %>
			<% } %>
		</li>
	<% } %>
</ul>