<% var onceFragmentOnPage = false %>
<% fragmentsData.forEach(({id, content, fragment}) => { %>
    <% onceFragmentOnPage = !!fragment.once %>
    <% if(fragment.block_id !== block_id) return false; %>
	<% if('published' in fragment.settings && fragment.settings.published != true && user.adminMode != true) return false; %>
    <div class="fragment-item">
        <% if(user.adminMode) { %>
            <div class="fragment-setting-window">
                <button href="#" class="setting-call-btn"></button>
                <div class="setting-wrapper">
                    <div>
                        <select class="js-upd-fragment-component select-set" data-route-id="<%=routeId-%>" data-fragment-id="<%= id -%>" name="types">
                            <% componentsObj[block_id].map(c => { %>
                                <option <%= fragment.component_id == c.id ? 'selected' : '' -%> value="<%=c.id-%>"><%= c.title -%></option>
                            <% }) %>
                        </select>
                    </div>
                    <button class="js-fragment-delete btn-blue" data-fragment-id="<%= id -%>">Удалить фрагмент со страницы</button>
					<% if('published' in fragment.settings === false || fragment.settings.published == true) { %>
						<button class="btn-blue js-fragment-togglePublished" data-value="0" data-fragment-id="<%= id -%>">Снять с публикации</button>
					<% } else { %>
                    	<button class="btn-blue js-fragment-togglePublished" data-value="1" data-fragment-id="<%= id -%>">Опубликовать</button>
					<% } %>
                </div>
            </div>
        <% } %>
		<div class="fragment-body 
			<%= fragment.isStatic &&
				fragment.component_id == 2 && 
				user.adminMode ? 'js-staticFragment-edit js-ckeditor-edit' : '' -%>" 
				data-fragment-id="<%= id -%>" >
					<%- content -%>
		</div>
    </div>
<% }) %>
<% if(user.adminMode && onceFragmentOnPage === false) { %> 
    <div style="width: 100%">
		<button class="js-add-fragment" data-id="<%=routeId-%>" data-block-id="<%= block_id -%>" >Добавить фрагмент</button>
	</div>
<% } %>