<% var onceFragmentOnPage = false %>
<% fragmentsData.forEach(({id, content, fragment}) => { %>
    <% onceFragmentOnPage = !!fragment.once %>
    <div class="fragment-item">
        <% if(user.adminMode) { %>
            <div class="fragment-setting-window">
                <button href="#" class="setting-call-btn"></button>
                <div class="setting-wrapper">
                    <button class="js-fragment-edit-type btn-blue">Сменить тип фрагмента</button>
                    <div>
                        <select class="js-upd-fragment-component select-set" data-route-id="<%=routeId-%>" data-fragment-id="<%= id -%>" name="types">
                            <% componentsList.map(c => { %>
                                <option <%= fragment.component_id == c.id ? 'selected' : '' -%> value="<%=c.id-%>"><%= c.title -%></option>
                            <% }) %>
                        </select>
                    </div>
                    <button class="js-fragment-delete btn-blue" data-fragment-id="<%= id -%>">Удалить фрагмент со страницы</button>
                </div>
            </div>
        <% } %>
        <%- content -%>
    </div>
<% }) %>
<% if(user.adminMode && onceFragmentOnPage === false) { %> 
    <button class="js-add-fragment" data-id="<%=routeId-%>">Добавить фрагмент</button>
<% } %>