<ul class="header-menu header-menu-center" title=""><%

	HeaderRows.forEach((r) => {

		%><li><%
			
			if(user.adminMode) {
				
				%><div style="display: flex;">
					<div>
						<div>
							<input type="text" class="js-headerNav-edit" data-target="title" data-id="<%= r.id -%>" value="<%= r.title -%>">
						</div>
						<div>
							<input type="text" class="js-headerNav-edit" data-target="href" data-id="<%= r.id -%>" value="<%= r.href -%>">
						</div>
					</div>
					<div>
						<button class="btn bg-delete js-headerNav-delete" data-id="<%= r.id -%>" style="height: 100%">У</button>
					</div>
				</div>
				<ul class="submenu"><%
				
					if (r.id == 4) {
						%><p>Данное меню строится автоматически по дереву категорий и не подлежит редактированию</p><%
					}
					else {
						r.childs.forEach(child => {
							
							%><li>
								<div style="display: flex;">
									<div>
										<div>
											<input type="text" class="js-headerNav-edit" data-target="title" data-id="<%= child.id -%>" value="<%= child.title -%>">
										</div>
										<div>
											<input type="text" class="js-headerNav-edit" data-target="href" data-id="<%= child.id -%>" value="<%= child.href -%>">
										</div>
									</div>
									<div>
										<button class="btn bg-delete js-headerNav-delete" data-id="<%= child.id -%>" style="height: 100%">У</button>
									</div>
								</div>
							</li><%
						
						})
					}
					
					%><li>
						<div>
							<button class="btn js-headerNav-add" data-parent-id="<%= r.id -%>" style="height: 100%">+</button>
						</div>
					</li>
				</ul><%
			}
			else {
			
				
				%><a href="<%= r.href -%>"><%= r.title -%></a><%
				
				%><ul class="submenu"><%
					
					if (r.id == 4) {
						%><%- include("./header-shop-submenu", { cats : r.childs }) %><%
					}
					else {
						
						r.childs.forEach(child => {
							%><li><a href="<%= child.href -%>"><%= child.title -%></a></li><%
						});
						
					}
					
				%></ul><%
			}
			
		%></li><%
	
	})
	
	if(user.adminMode) { %>
		<div>
			<button class="btn js-headerNav-add" style="height: 100%">+</button>
		</div>
	<% } %>
</ul>