<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">
        <meta charset="utf-8">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta name="description" content="<%= route.seo_description%>">
        <meta name="keywords" content="<%= route.seo_keywords%>">
        <title><%=route.title + ' - ООО "Евросервис"'%></title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&amp;subset=cyrillic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,900&amp;subset=cyrillic">
        <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/static.css">
		<% if(user.adminMode) { %>
			<link rel="stylesheet" href="/admins/css/admin.css">
		<% } %>
    </head>
    <body>
        <header class="document-header">
            <nav class="header-nav">
                <div class="site-band">
                    <img class="nav-band" <%= user.admin ? `id=toggle-admin-mode` : '' %> src="/img/logo.png">
                    <button class="toggle-menu btn"></button>
                </div>
                <div class="menu-container">
                    <ul class="header-menu header-menu-center">
                        <% HeaderRows.forEach((r) => { %>
                            <li>
                                <% if(user.adminMode) { %>
                                    <div style="display: flex;">
                                        <div>
                                            <div>
                                                <input type="text" class="js-headerNav-edit" data-target="title" data-id="<%= r.id -%>" value="<%= r.title -%>">
                                            </div>
                                            <div>
                                                <input type="text" class="js-headerNav-edit" data-target="href" data-id="<%= r.id -%>" value="<%= r.href -%>">
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn js-headerNav-delete" data-id="<%= r.id -%>" style="height: 100%">У</button>
                                        </div>
                                    </div>
                                <% } else { %>
                                    <a href="<%= r.href -%>"><%= r.title -%></a>
                                <% } %>
                            </li>    
                        <% }) %>
                        <% if(user.adminMode) { %>
                            <div>
                                <button class="btn js-headerNav-add" style="height: 100%">+</button>
                            </div>
                        <% } %>
                    </ul>
                    <ul class="header-menu header-menu-right">
                        <% if(!user.id) { %> 
                            <li>
                                <a href="/login">Вход</a>
                            </li>
                        <% } 
                        else { %>
                        	<% if(user.admin) { %>
	                        	<li>
	                        		<a href="/admin">Перейти в админку</a>
	                        	</li>
                        	<% } %>
                            <li>
                                <a href="/my"><%= user.clientName %></a>
                            </li>
                            <li>
                                <a href="/logout">Выйти</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </header>