<% if(user.admin) { %>
	<div id="js-adminPanel-routeSettingsModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<span class="close">&times;</span>
				<h2>Редактирование маршрута</h2>
			</div>
			<div class="modal-body">
				<form class="js-routes-list-upd-route" action="/api/routes/upd" method="POST">
					<section class="section-one">
						<div class="input-wrapper first-wrapper">
							<div class="form-group">
								<label>
									<span>URL маршрута:</span>
									<input class="input-text" name="url" type="text" value="<%= route.url -%>" placeholder="url маршрута / " required>
								</label>
							</div>
							<div class="form-group">
								<label>
									<span>Заголовок маршрута:</span>
									<input class="input-text" name="title" type="text" value="<%= route.title -%>" required>
								</label>
							</div>
							<div class="form-group">
								<label>
									<span class="input-wrapper__title">Шаблон страницы:</span>
									<select class="input-text" name="template_id">
										<% templatesList.forEach((t) => { %>
											<option value="<%= t.id -%>" <%= route.template_id == t.id ? 'selected' : '' %> ><%= t.title -%></option>
										<% }) %>
									</select>
								</label>
							</div>
						</div>
						<div class="input-wrapper second-wrapper">
							<div>
								<h3>Доступ</h3>
								<label>
									<input type="radio" name="access" value="1" <%= route.access==1 ? 'checked' : '' -%>>
									Публичный 
								</label>
								<label>
									<input type="radio" name="access" value="2" <%= route.access==2 ? 'checked' : '' -%>>
									Только авторизованным 
								</label>
								<label>
									<input type="radio" name="access" value="3" <%= route.access==3 ? 'checked' : '' -%>>
									Только администратору 
								</label>
							</div>
							<div>
								<h3>Отображать тайтл на странице</h3>
								<label>
									<input type="radio" name="show_title" value="1" <%= route.show_title=='1' ? 'checked' : '' -%>>
									Да
								</label>
								<label>
									<input type="radio" name="show_title" value="0" <%= route.show_title=='0' ? 'checked' : '' -%>>
									Нет
								</label>
							</div>
							<div>
								<h3>Использовать заголовок компонента</h3>
								<label>
									<input type="radio" name="use_component_title" value="1" <%= route.use_component_title=='1' ? 'checked' : '' -%>>
									Да
								</label>
								<label>
									<input type="radio" name="use_component_title" value="0" <%= route.use_component_title=='0' ? 'checked' : '' -%>>
									Нет
								</label>
							</div>
							<% if(user.root) { %>
								<div>
									<h3>Разрешить редактирование</h3>
									<label>
										<input type="radio" name="edit_access" value="0" <%= route.edit_access=="0" ? 'checked' : '' -%>>
										Нет 
									</label>
									<label>
										<input type="radio" name="edit_access" value="1" <%= route.edit_access=="1" ? 'checked' : '' -%>>
										Да 
									</label>
								</div>
								<div>
									<h3>Разрешить удаление</h3>
									<label>
										<input type="radio" name="delete_access" value="0" <%= route.edit_access=="0" ? 'checked' : '' -%>>
										Нет 
									</label>
									<label>
										<input type="radio" name="delete_access" value="1" <%= route.edit_access=="1" ? 'checked' : '' -%>>
										Да 
									</label>
								</div>
							<% } %>
						</div>
					</section>
					<section class="section-two">
						<h2>SEO установки</h2>
						<div>
							<label>
								<span>Ключевые слова (meta-keywords):</span>
								<textarea class="input-text" name="seo_keywords"><%= route.seo_keywords -%></textarea>
							</label>
							<label>
								<span>Краткое описание (meta-description):</span>
								<textarea class="input-text" name="seo_description"><%= route.seo_description -%></textarea>
							</label>
						</div>
					</section>
					<div>
						<button class="btn save-btn">Сохранить</button>
					</div>
					<input type="hidden" name="id" value="<%= route.id -%>">
				</form>
			</div>
		</div>
	</div>
	<script src="/admins/js/routes-list.js" defer></script>
<% } %>