<link rel="stylesheet" href="/vendors/flexSlider/flexslider.css">
<link rel="stylesheet" href="/css/slider.init.css">
<div class="slider-container">
	<div id="slider" class="flexslider">
		<ul class="slides">
			<% slides.map((s, index) => { %>
				<li>
					<div class="slider-info__container">
						<div class="slider-item" style="background-image: url(<%= s.img %>)"></div>
						<div class="slider-info">
							<% if(user.adminMode) { %>
								<input type="text" class="js-slide-upd" data-target="title" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>" value="<%= s.title -%>">
							<% } else { %> 
								<h1><%= s.title %></h1>
							<% } %>

							<% if(user.adminMode) { %>
								<div>
									<textarea style="width: 100%; min-height: 150px" class="js-slide-upd" data-target="description" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>"><%- s.description -%></textarea>
								</div>
							<% } else { %> 
								<%- s.description %>
							<% } %>

							<div class="slider-action">
								<a href="<%= s.href %>" class="btn">Подробнее</a>
							</div>
						</div>
					</div>
				</li>
			<% }) %>
			<% if(user.adminMode === true) { %>
				<li>
					<div class="slider-info__container">
						<div class="slider-item"></div>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
	<div id="carousel" class="flexslider">
		<ul class="slides">
			<% slides.map((s, index) => { %>
				<li>
					<div class="container-item__container">
						<div class="carousel-item" style="background-image: url(<%= s.img_bottom || s.img %>)"></div>
						<% if(user.adminMode === true) { %>
							<span class="slide-show-settings js-slide-delete" data-id="<%=s.id %>" data-fragment-id="<%= locals.fragment.id -%>">Удалить</span>
						<% } %>
						<div class="carousel-link__container">
							<% if(user.adminMode) { %>
								<input type="text" class="js-slide-upd" data-target="title_bottom" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>" value=" <%= s.title_bottom -%> ">
							<% } else { %>
								<a href="<%= s.href %>"><%= s.title_bottom || s.title %></a>
							<% } %>
						</div>
					</div>
				</li>
			<% }) %>
			<% if(user.adminMode === true) { %>
				<li>
					<div class="container-item__container js-slide-add" data-page="<%= locals.page%>" data-fragment-id="<%= locals.fragment.id%>">
						<div class="carousel-item"></div>
						<div class="carousel-link__container">
							<a href="#">Добавить</a>
						</div>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
	<div class="mobile-nav">
		<ul>
			<% slides.map(s => { %>
				<li>
					<div class="container-item__container">
						<div class="carousel-link__container">
							<a href="<%= s.href %>"><%= s.title_bottom %></a>
						</div>
					</div>
				</li>
			<% }) %>
		</ul>
	</div>
</div>
<script defer src="/js/slider.init.js"></script>
<script defer type="text/javascript" src="/vendors/flexSlider/jquery.flexslider.js"></script>