<link rel="stylesheet" href="/css/cards-list.css">
<% if(user.adminMode) { %>
	<div>
		<span>Тип публикаций:</span>
		<select class="js-change-fragment-target" data-fragment-id="<%= fragment.id -%>" name="target-post">
			<option value="">Не выбрано</option>
			<% for (let target of postTargets ) { %>
				<option value="<%= target.id -%>" <%= currentTarget == target.id ? "selected" : "" -%>><%= target.title -%></option>
			<% } %>
		</select>
	</div>
	<div>
		<span>Добавить URL для публикаций: <small>(например: /posts)</small></span>
		<input type="text" class="js-fragment-url-input" value="<%= fragment.settings.url || "" -%>"  data-fragment-id="<%= fragment.id -%>" placeholder="URl...">
		<button class="btn js-fragment-set-url">Добавить</button>
	</div>
	<div>
		<% var disabledCatOptions = dynamicCategory ? 'disabled' : ''; %>
		<span>Категория для публикаций:</span>
		<select class="js-fragment-update-settings" data-event="change" data-target="category" data-fragment-id="<%= fragment.id -%>">
			<option <%= disabledCatOptions -%> value="">Все категории</option>
			<% for (let category of postCategories ) { %>
				<option value="<%= category.id -%>" <%= currentCategory == category.id ? "selected" : "" -%> <%= disabledCatOptions -%>><%= category.title -%></option>
			<% } %>
		</select>
		<form id="js-post-cat-add" data-target-id="<%= currentTarget -%>">
			<span>Добавить новую категорию:</span>
			<input name="catName" type="text" value="">
			<button class="btn">Добавить</button>
		</form>
	</div>
	<div>
		<span>Отображение даты публикации:</span>
		<% if(fragment.settings.showPublishedTime == '1') { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showPublishedTime" data-event="click" value="0">Скрыть</button>
		<% } else { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showPublishedTime" data-event="click" value="1">показать</button>
		<% } %>
	</div>
	<div>
		<span>Отображение картинки:</span>
		<% if(fragment.settings.showImage == 1 || 'showImage' in fragment.settings === false) { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showImage" data-event="click" value="0">Скрыть</button>
		<% } else { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showImage" data-event="click" value="1">показать</button>
		<% } %>
	</div>
	<div>
		<span>Отображать описание:</span>
		<% if(fragment.settings.showDescription == 1 || 'showDescription' in fragment.settings === false) { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showDescription" data-event="click" value="0">Скрыть</button>
		<% } else { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showDescription" data-event="click" value="1">показать</button>
		<% } %>
	</div>
	<div>
		<span>Отображать пагинацию:</span>
		<% if(fragment.settings.showPagination == '1') { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showPagination" data-event="click" value="0">Скрыть</button>
		<% } else { %>
			<button class="btn js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="showPagination" data-event="click" value="1">показать</button>
		<% } %>
	</div>
	<div>
		<span>Количество отображаемых постов:</span>
		<input class="js-fragment-update-settings" type="text" value="<%= fragment.settings.countPosts || '' -%>" data-fragment-id="<%= fragment.id -%>" data-target="countPosts" data-event="change">
	</div>
<% } %>
<div class="cards">
	<% if(user.adminMode) { %>
		<div class="admin-control-container cards-admin-control-container">
			<button class="btn cards-add js-posts-add" data-category="<%= currentCategory -%>" data-target="<%= currentTarget -%>">Добавить</button>
		</div>
	<% } %>
	<% if(posts.length < 1) { %>
		<h2>Публикации отсутствуют</h2>
	<% } %>
	<% posts.map(n => { %>
		<article class="cards__item">
            <% if(user.adminMode) { %>
                <div class="admin-control-container">
                    <button data-id="<%= n.id -%>" class="btn cards-delete js-post-delete">Удалить</button>
                    <% if(n.public) { %>
						<button data-id="<%= n.id -%>" data-value="0" class="btn cards-publicate js-post-togglePublication">Снять с публикации</button>
					<% } else { %>
						<button data-id="<%= n.id -%>" data-value="1" class="btn cards-publicate js-post-togglePublication">Публиковать</button>
					<% } %>
					<label class="btn cards-change-photo">
						<input type="file" class="js-post-upload-mainphoto" data-id="<%= n.id -%>" id="post-upload-mainphoto" style="display: none">
                    	<span>Изменить фото</span>
					</label>
                </div>
            <% } %>
			<% if(fragment.settings.showImage == 1 || 'showImage' in fragment.settings === false) { %>
            	<div class="cards__img-wrapp">
					<% if (!n.video) { %>
						<a href="<%= n.alias || fragment.settings.url + '/' + n.id -%>" class="cards__img-link">
							<img class="cards__img" src="<%= n.main_photo -%>" alt="<%=n.title%>">
						</a>
					<% } else { %>
						<%- n.video %>
					<% } %>
            	</div>
			<% } %>
            <div class="cards__title-wrap">
                <h2 class="cards__title">
					<% if(user.adminMode) { %>
						<input class="cards-title-edit js-post-update input-text" data-id="<%= n.id -%>" data-target="title" type="text" value="<%=n.title%>">
					<% } else { %>
						<a href="<%= n.alias || fragment.settings.url + '/' + n.id -%>" class="cards__title-link">
							<span><%= n.title %></span>
						</a>
					<% } %>
                </h2>
            </div>
			<% if(fragment.settings.showDescription == 1 || 'showDescription' in fragment.settings === false) { %>
				<div class="cards__content-wrapp">
					<div class="cards__content">
						<p><%- Helpers.replaceLineBreaks(Helpers.trimByWords(n.text, 100)) -%></p>
						<a href="<%= n.alias || fragment.settings.url + '/' + n.id -%>" class="btn cards__content-link text-center">Читать далее</a>
					</div>
				</div>
			<% } %>
			<% if(fragment.settings.showPublishedTime == '1') { %>
				<div class="cards-meta-wrapp">
					<div class="cards__content text-right">
							<span>Опубликовано: <%= Helpers.formatDate(n.published, 'dd MMMM yyyy в hh:mm') -%></span>
					</div>
				</div>
			<% } %>
        </article>
	<% }) %>
</div>
<% if(fragment.settings.showPagination == 1) { %>
	<%- pagination.render() -%>
<% } %>
<% if(user.adminMode) { %>
	<script src="/admins/js/posts-list.js" defer></script>
<% } %>