<link rel="stylesheet" href="/vendors/baguettebox.js/dist/baguetteBox.min.css">
<section>
	<% if(user.adminMode) { %>
		<div>
			<form id="js-set-ach-url" data-fragment-id="<%= fragment.id -%>" data-target="urlPage" class="mb-2">
				<div class="form-group">
					<label for="setAchUrl">URL для пагинации:</label>
					<input type="text" name="urlPage" class="form-control" id="setAchUrl" aria-describedby="urlHelp" value="<%= fragment.settings.urlPage -%>">
				</div>
				<button class="btn">Добавить</button>
			</form>
		</div>
		<div class="mb-2">
			<span class="fs-bold">Количество на странице:</span>
			<input type="text" class="form-control js-fragment-update-settings" data-fragment-id="<%= fragment.id -%>" data-target="countOnPage" data-event="change" value="<%= fragment.settings.countOnPage -%>">
		</div>
	<% } %>
	<% if(user.adminMode) { %>
		<div class="admin-control-container">
			<button class="btn js-achievements-add">Добавить</button>
		</div>
	<% } %>
	<div class="container-fluid">
		<div class="row mb-2">
		<% achievements.map((a, i) => { %>
			<div class="col-lg-6 col-md-12">
				<% if(user.adminMode) { %>
					<button data-id="<%= a.id -%>" class="btn js-achievements-delete mb-2">Удалить</button>
				<% } %>
				<% if(user.adminMode) { %>
					<div class="form-group">
						<input type="text" class="form-control js-achievements-update" data-target="title" data-id="<%= a.id -%>" value="<%= a.title -%>">
					</div>
				<% } else { %>
					<h3 class="text-center"><%= a.title %></h3>
				<% } %>

				<% if(user.adminMode) { %>
				<div class="form-group text-center">
					<label for="imgUpload">Добавить фото:</label>
					<input type="file" id="imgUpload" name="achievement-img" data-id="<%= a.id -%>" class="js-achievements-upload-img">
				</div>
				<% } %>
				<div class="form-group text-center">
					<a href="<%= a.img -%>" title="<%= a.title %>">
						<img width="300" height="300" src="<%= a.img -%>" alt="МП КПРУ. Достижения">
					</a>
				</div>
				<% if(user.adminMode) { %>
					<textarea rows="3" class="form-control js-achievements-update mb-2" data-target="text" data-id="<%= a.id -%>"><%= a.text -%></textarea>
				<% } else { %>
					<p class="text-center"><%= a.text %></p>
				<% } %>
			</div>
		<% }) %>
		</div>
		<% if(user.adminMode) { %>
			<button class="btn js-achievements-add">Добавить</button>
		<% } %>
	</div>
	<%if(pagination.countPages > 1){%>
	<div class="pagination">
		<a class="pagination__to-begin pagination__action-link" href="<%= fragment.settings.urlPage -%>">в начало</a>
		<% for(let i = pagination.left; i < pagination.right; i++) { %>
				<a class="pagination-item <%=pagination.curPage == i ? `pagination-item__active` : ``%>" href="<%= fragment.settings.urlPage -%>?page=<%=i%>"><%=i%></a>
		<% } %>
		<a class="pagination__to-end pagination__action-link" href="<%= fragment.settings.urlPage -%>?page=<%=pagination.countPages%>">в конец</a>
	</div>
	<%}%>
</section>
	<script src="/vendors/baguettebox.js/dist/baguetteBox.min.js"></script>
	<script src="/js/achievements-list.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/achievements-list.js" defer></script>
<% } %>
