<link rel="stylesheet" href="/vendors/baguettebox.js/dist/baguetteBox.min.css">
<link rel="stylesheet" href="/css/achievements-list.css">
<section>
	<% if(user.adminMode) { %>
		<div>
			<form id="js-set-ach-url" data-fragment-id="<%= fragment.id -%>" data-target="urlPage">
				<span>URL для пагинации: </span>
				<input value="<%= fragment.settings.urlPage -%>" type="text" name="urlPage">
				<button class="btn">Добавить</button>
			</form>
		</div>
		<br>
	<% } %>
	<% if(user.adminMode) { %>
		<div class="admin-control-container">
			<button class="btn js-achievements-add">Добавить</button>
		</div>
	<% } %>
	<div class="achievements-wrapper baguetteBox">
		<% achievements.map((a, i) => { %>
			<div class="achievement-item">
				<% if(user.adminMode) { %>
					<div class="admin-control-container">
						<button data-id="<%= a.id -%>" class="btn js-achievements-delete">Удалить</button>
					</div>
				<% } %>
				<div class="achievement-title">
					<% if(user.adminMode) { %>
						<input type="text" class="input-text js-achievements-update" data-target="title" data-id="<%= a.id -%>" value="<%= a.title -%>">
					<% } else { %>
						<h3 class="text-center"><%= a.title %></h3>
					<% } %>
				</div>
				<% if(user.adminMode) { %>
					<div>
						<span>Добавить фото:</span>
						<label>
							<input type="file" name="achievement-img" data-id="<%= a.id -%>" class="js-achievements-upload-img">
						</label>
					</div>
				<% } %>
				<div class="achievement-img">
					<a href="<%= a.img -%>" title="<%= a.title %>">
						<img src="<%= a.img -%>" alt="МП КПРУ. Достижения">
					</a>
				</div>
				<div class="achievement-description">
					<% if(user.adminMode) { %>
						<textarea class="input-text js-achievements-update" data-target="text" data-id="<%= a.id -%>"><%= a.text -%></textarea>
					<% } else { %>
						<p class="text-indent"><%= a.text %></p>
					<% } %>
				</div>
			</div>
		<% }) %>
	</div>
	<%if(pagination.countPages > 1){%>
	<div class="pagination">
		<a class="pagination__to-begin pagination__action-link" href="<%= fragment.settings.urlPage -%>">в начало</a>
		<% for(let i = pagination.left; i < pagination.right; i++) { %>
				<a class="pagination-item <%=pagination.curPage == i ? `pagination-item__active` : ``%>" href="<%= fragment.settings.urlPage -%>?page=<%=i%>"><%=i%></a>
		<% } %>
		<a class="pagination__to-end pagination__action-link" href="<%= fragment.settings.urlPage -%>?page=<%=pagination.countPages%>">в конец</a>
	</div>
	<%}%>
</section>
	<script src="/vendors/baguettebox.js/dist/baguetteBox.min.js"></script>
	<script src="/js/achievements-list.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/achievements-list.js" defer></script>
<% } %>
