<!--<link rel="stylesheet" href="/css/clients-manage.css">-->
<!--<div class="clients-search">
	<input class="clients-search__input" type="text" placeholder="Введите e-mail или номер телефона для поиска">
</div>-->
<div class="form-group">
	<input name="title" type="text" class="form-control clients-search__input" aria-describedby="clientsSearchHelp" placeholder="Введите e-mail или номер телефона для поиска">
</div>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">ФИО</th>
			<th scope="col">Электронный адрес</th>
			<th scope="col">Номер телефона</th>
			<th style="text-align: right; padding-right: 60px">Действия</th>
		</tr>
	</thead>
	<tbody id="clients-list">
		<% clients.forEach((c) => { %>
		<tr>
			<td class="tbody-p"><%= c.surname -%> <%= c.firstname -%> <%= c.patronymic -%></td>
			<td class="tbody-p"><%= c.mail -%></td>
			<td class="tbody-p"><%= c.phone -%></td>
			<td style="text-align: right">
				<% if(c.admin) { %>
					<button class="btn js-clients-toggleAdmin" data-user-id="<%= c.id -%>" value="0">Убрать администратора</button>
				<% } else { %>
					<button class="btn js-clients-toggleAdmin" data-user-id="<%= c.id -%>" value="1">Сделать администратором</button>
				<% } %>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>
<!--<div id="clients-list" class="clients-list">
	<% clients.forEach((c) => { %>
		<div class="client-card">
			<div class="client-card__title">
				<h2>#<%= c.id -%> - <%= c.surname -%> <%= c.firstname -%> <%= c.patronymic -%></h2>
				<ul class="text-left">
					<li class="mb-2">Электронный адрес:
						<a class="page-link" href="mailto:<%= c.mail -%>"><%= c.mail -%></a>
					</li>
					<li class="mb-2">Номер телефона:
						<a class="page-link" href="callto:<%= c.phone -%>"><%= c.phone -%></a>
					</li>
					<li>
						<p>Администратор: </p>
						<% if(c.admin) { %>
							<button class="btn btn-middle js-clients-toggleAdmin" data-user-id="<%= c.id -%>" value="0">Убрать администратора</button>
						<% } else { %>
							<button class="btn btn-middle js-clients-toggleAdmin" data-user-id="<%= c.id -%>" value="1">Сделать администратором</button>
						<% } %>
					</li>
				</ul>
			</div>
		</div>
	<% }) %>
</div>-->
<script src="/js/clients-manage.js" defer></script>