<link rel="stylesheet" href="/css/memory_book.css">
<link rel="stylesheet" href="/css/search-deads.css">
<div id="general" class="menu-sections menu-sections__default">
	<div id="general-deads-container">
		<%- include('./items-list', {deads: data.deads, countDeads: data.countDeads, part: 0}) %>	
	</div>
	<div class="text-center">
		<button class="btn" id="load-more-button" style="display: none; margin-top: 15px" data-part="1">Показать ещё</button>
	</div>
</div>
<% if(user.adminMode) { %>
	<section id="moder" class="menu-sections">
		<div>
			<header class="text-center">
				<h1>Биографии</h1>
			</header>
			<% data.biographies.forEach(b => { %>
				<% if(b.state == 3 || b.state == 1) return false; %>
				<div class="biography-item">
					<div class="biography-meta meta-title">
							<a href="/person/<%=b.dead_id%>"><h3><%= `${b.surname} ${b.firstname} ${b.patronymic}` %></h3></a>
					</div>
					<div class="biography-meta">
						<div class="biography-time">
							<time class="biography-created"><%= Helpers.formatDate(b.created, 'Добавлено dd MMMM yyyy в hh:mm') %></time>
						</div>
						<div class="biography-author">
							<span><%= `Автор: ${b.author || 'Анонимно'}` %></span>
							<span><%= ` (${b.creator || ' '})` %></span>
						</div>
						<div style="width: 100%; text-align: right">
							<br>
							<button data-id="<%=b.id%>" data-target="biographies" data-state="3" class="btn js-item-toggle-state">Опубликовать</button>
							<button data-id="<%=b.id%>" data-target="biographies" data-state="1" class="btn js-item-toggle-state">Отклонить</button>
							<button data-id="<%=b.id%>" data-target="biographies" class="btn js-item-delete">Удалить</button>
						</div>
					</div>
					<div class="biography-text text-indent text-margin-bottom-p">
						<%- Helpers.replaceLineBreaks(Helpers.trimStr(b.text, 350)) %>	
					</div>
					<div class="biography-actions">
						<a href="/person/<%= b.dead_id %>" class="">Перейти на страницу умершего</a>
					</div>
				</div>
			<% }) %>
		</div>
		<div>
			<header class="text-center">
				<h1>Некрологи</h1>
			</header>
			<% data.necrologues.forEach(b => { %>
				<% if(b.state == 3 || b.state == 1) return false; %>
				<div class="biography-item">
					<div class="biography-meta meta-title">
						<a href="/person/<%=b.dead_id%>"><h3><%= `${b.surname} ${b.firstname} ${b.patronymic}` %></h3></a>
					</div>
					<div class="biography-meta">
						<div class="biography-time">
							<time class="biography-created"><%= Helpers.formatDate(b.created, 'Добавлено dd MMMM yyyy в hh:mm') %></time>
						</div>
						<div class="biography-author">
							<span><%= `Автор: ${b.author || 'Анонимно'}` %></span>
						</div>
						<div style="width: 100%; text-align: right">
							<br>
							<button data-id="<%=b.id%>" data-target="necrologues" data-state="3" class="btn js-item-toggle-state">Опубликовать</button>
							<button data-id="<%=b.id%>" data-target="necrologues" data-state="1" class="btn js-item-toggle-state">Отклонить</button>
							<button data-id="<%=b.id%>" data-target="necrologues" class="btn js-item-delete">Удалить</button>
						</div>
					</div>
					<div class="biography-text text-indent text-margin-bottom-p">
						<%- Helpers.replaceLineBreaks(Helpers.trimStr(b.text, 350)) %>	
					</div>
					<div class="biography-actions">
						<a href="/person/<%= b.dead_id %>" class="">Перейти на страницу умершего</a>
					</div>
				</div>
			<% }) %>
		</div>
	</section>
<% } %>
<script src="/js/memory_book.js" defer></script>