<link rel="stylesheet" href="/css/questions-list.css">
<% if(session.user.adminMode) { %>
<div class="form-row">
	<div class="form-group col-md-6">
		<label>Выбор target отзывов:</label>
		<select class="form-control js-fragment-update-settings" data-event="change" data-fragment-id="<%= fragment.id -%>" data-target="target">
			<option value="">Не выбрано</option>
			<% targets.forEach((target) => { -%>
				<option <%= target.id == fragment.settings.target ? 'selected' : '' -%> value="<%= target.id -%>"><%= target.title -%></option>
			<% }) -%>
		</select>
	</div>
	<div class="form-group col-md-6">
		<label>Добавить target:</label>
		<form id="js-add-question-target" data-fragment-id="<%= fragment.id -%>">
			<input class="form-control" type="text" name="title">
			<button class="btn mt-1">Добавить</button>
		</form>
	</div>
</div>

<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
	  <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">Все</a>
	  <a class="nav-item nav-link" id="nav-unpublished-tab" data-toggle="tab" href="#nav-unpublished" role="tab" aria-controls="nav-unpublished" aria-selected="false">Неопубликованные</a>
	</div>
</nav>
<% } %>
<div class="tab-content" id="nav-tabContent">
	<div class="tab-pane show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
		<% cats.map(c => { %>
			<h3><%= c.title %> (<%= c.questions.length -%>)</h3>
			<br/>
			<%- include("./question-list", { questions : c.questions, catsArray }) -%>	
		<% }); %>
	</div>
	<% if(session.user.adminMode) { %>
		<div class="tab-pane not-modered-reviews" id="nav-unpublished" role="tabpanel" aria-labelledby="nav-unpublished-tab">
			<%- include('./question-list', { questions: questionsNotPublished }) -%>
		</div>
	<% } %>
</div>

<div class="form-group">
    <input type="text" class="add-text add-question-text" id="questionText" placeholder="Вопрос">
	<input type="hidden" id="js-question-target" value="<%= fragment.settings.target -%>">
    <button class="btn add-button add-question-button">Добавить</button>
</div>

<script src="/js/questions-list.js" defer></script>
<% if(session.user.adminMode) { %>
	<script src="/admins/js/questions-list.js" defer></script>
<% } %>