<% var level = level|| 0;%>
<ul class="section-menu fs-regular">
	<% for(let id in menuTree) { %>
		<% var s = menuTree[id]%>
		<li class="section-menu-item <%= locals.route.url === s.href || locals.route.active_menu_item == s.id ? 'active' : '' -%>" data-href="<%= s.href -%>">
			<% if(user.adminMode) { %>
				<div style="border: 1px #c3c3c3 solid; padding: 10px">
					<input class="input-text js-menuItem-edit" data-id="<%= s.id%>" data-target="title" value="<%= s.title%>">
					<input class="input-text js-menuItem-edit" data-id="<%= s.id%>" data-target="href" value="<%= s.href%>">
				</div>
			<% } else { %> 
				<a href="<%= s.href %>" style="width: 100%; padding-left: <%= 20 * level -%>px">
					<p><%= s.title -%></p>
				</a>
			<% } %>
			<% if(user.adminMode) { %>
				<button class="btn bg-delete js-menuItem-delete" data-menu-id="<%= s.id %>">У</button>
				<% if(locals.route.active_menu_item == s.id) { %>
					<button class="btn js-route-toggleActiveMenuItem" data-route-id="<%= locals.route.id -%>" data-menu-id="0" title="Сделать пункт меню активным для текущего маршрута">С</button>
				<% } else { %>
					<button class="btn js-route-toggleActiveMenuItem" data-route-id="<%= locals.route.id -%>" data-menu-id="<%= s.id %>" title="Сделать пункт меню активным для текущего маршрута">А</button>
				<% } %>
				<span title="Приоритет">П:</span>
				<input type="text" class="js-menuItem-edit"  data-id="<%= s.id -%>" data-target="priority" name="priority" value="<%= s.priority -%>">
			<% } %>
			<% if(!!menuTree[id]['childs'] === true) { %>
				<%- include('./menu-list.ejs', {menuTree: menuTree[id]['childs'], level: level + 1}) %>
			<% } %>
		</li>
	<% } %>
</ul>
