<% if(user.adminMode) { %>
	<section style="margin-bottom: 20px">
		<h1>Выбрать используемое меню из списка</h1>
		<select class="js-routesList-setMenu" data-target="menu_id" data-id="<%= locals.routeId %>" style="width: 100%">
			<option selected value="null">Не выбрано</option>
			<% locals.menuGroups.forEach((m) => { %>
				<option value="<%= m.id -%>" <%= locals.route.menu_id == m.id ? 'selected' : '' %>><%= m.title-%></option>
			<% })%>
		</select>
	</section>
<% } %>
<%- include('./menu-list.ejs', { menuTree, user }) -%>
<% if(user.adminMode) { %>
	<section>
		<% if(!!locals.route.menu_id === false) { %>
			<h1>Создать новое меню</h1>
			<div style="display: flex; margin-bottom: 10px">
				<input type="text" name="menu-item-title" class="input-text" id="js-menuGroup-add--text" placeholder="Название">
			</div>
			<button class="btn js-menuGroup-add" data-route-id="<%=route.id%>" style="width: 100%">Добавить</button>
		<% } else { %> 
			<div style="display: flex; margin-bottom: 10px">
				<input type="text" name="menu-item-title" class="input-text" id="js-menuItem-add--text" placeholder="Название элемента меню">
			</div>
			<div style="display: flex; margin-bottom: 10px">
				<input type="text" name="menu-item-title" class="input-text" id="js-menuItem-add--href" placeholder="URL">
			</div>
			<button class="btn js-menuItem-add" data-route-id="<%= locals.route.id -%>" data-menu-id="<%= locals.route.menu_id -%>" style="width: 100%">Добавить</button>
		<% } %>
	</section>
<% } %>