<% news.map(n => { %>
	<article class="cards__item">
		<% if(user.adminMode) { %>
			<div class="admin-control-container">
				<button data-id="<%= n.id -%>" class="btn cards-delete js-news-delete">Удалить</button>
				<% if(n.public) { %>
					<button data-id="<%= n.id -%>" data-value="0" class="btn cards-publicate js-news-togglePublication">Снять с публикации</button>
				<% } else { %>
					<button data-id="<%= n.id -%>" data-value="1" class="btn cards-publicate js-news-togglePublication">Публиковать</button>
				<% } %>
				<label class="btn cards-change-photo">
					<input type="file" class="js-news-upload-mainphoto" data-id="<%= n.id -%>" id="cards-upload-mainphoto" style="display: none">
					<span>Изменить фото</span>
				</label>
			</div>
		<% } %>
		<div class="cards__img-wrapp">
			<a href="/news-id/<%= n.id -%>" class="cards__img-link">
				<img class="cards__img" src="<%= n.main_photo -%>" alt="Картинка поста">
			</a>
		</div>
		<div class="cards__title-wrap">
			<h2 class="cards__title">
				<% if(user.adminMode) { %>
					<input class="cards-title-edit js-news-update input-text" data-id="<%= n.id -%>" data-target="title" type="text" value="<%=n.title%>">
				<% } else { %>
					<a href="/news-id/<%= n.id -%>" class="cards__title-link">
						<span><%= n.title %></span>
					</a>
				<% } %>
			</h2>
		</div>
		<div class="cards__content-wrapp">
			<div class="cards__content">
				<p><%- Helpers.trimStr(n.text, 75) -%></p>
				<a href="/news-id/<%= n.id -%>" class="news__content-link">Читать далее...</a>
			</div>
		</div>
		<div class="cards-meta-wrapp">
			<div class="cards__content text-right">
				<span>Опубликовано: <%=new Date(n.created).format("dd.mm.yyyy HH:MM")//= Helpers.formatDate(n.published, 'dd MMMM yyyy в hh:mm') -%></span>
			</div>
		</div>
	</article>
<% }) %>