<link rel="stylesheet" href="/css/news-list.css">
<div class="news">
	<% if(user.adminMode) { %>
		<div class="admin-control-container news-admin-control-container">
			<button class="btn news-add js-news-add">Добавить</button>
		</div>
	<% } %>
	<% if(user.adminMode) { %>
		<%- include('./news-list.ejs', { news: newsNotPublic }) -%>	
	<% } %>
	<%- include('./news-list.ejs', { news: news }) -%>
</div>
<div class="pagination">
	<a class="pagination__to-begin pagination__action-link" href="/news">в начало</a>
	<% for(let i = pagination.left; i < pagination.right; i++) { %>
			<a class="pagination-item <%=pagination.curPage == i ? `pagination-item__active` : ``%>" href="/news?page=<%=i%>"><%=i%></a>
	<% } %>
	<a class="pagination__to-end pagination__action-link" href="/news?page=<%=pagination.countPages%>">в конец</a>
</div>
<% if(user.adminMode) { %>
	<script src="/admins/js/news-list.js" defer></script>
	<script src="/admins/js/news-id.js" defer></script>
<% } %>