<div class="reviews-list-wrapp">
	<ul class="reviews-list">
		<% reviews.map(r => { %>
			<% if(r.public == 0 && r.client != userId) return false; %>
			<li class="reviews-item" data-id="<%= r.id %>">
				<% if(r.published == '0') { %>
					<div class="text-right">
						<button class="btn js-reviews-togglePublished" data-id="<%= r.id -%>">Опубликовать</button>
					</div>
				<% } %>
				<div class="review-wrapp">
					<div class="reviews-wrap-items">
						<div class="reviews-title">
							<div>
								<span class="reviews-name"><%= r.clientName || 'Неизвестно' -%></span>
								<% if(r.published == 0 && r.client_id == session.user.id) { %>
									<span>(Отзыв находится на модерации)</span>
								<% } %>
							</div>
							<span class="reviews-time"><%=Helpers.formatDate(r.created, 'dd MMMM yyyy, hh:mm')%></span>
						</div>
						<div class="reviews-text">
							<%- Helpers.replaceLineBreaks(r.text) -%>
						</div>
					</div>
				</div>
			</li>
		<% }) %>
	</ul>
</div>