<link rel="stylesheet" href="/css/goods-view.css">
<link rel="stylesheet" href="/vendors/baguettebox.js/dist/baguetteBox.min.css">
<link rel="stylesheet" href="/vendors/flexSlider/flexslider.css">
<div class="good-wrapp">
	<% if(user.adminMode) { %>
		<%- include('./settings') -%>
	<% } %>
	<div class="good-info">
		<%- include(partName) -%>
	</div>
</div>
<section class="similar-positions">
	<ul>
		<% similarPositions.forEach((pos) => { -%>
			<li>
				<img src="<%= pos.preview_path -%>" alt="">
				<a href="<%= pos.id -%>"><%= pos.title -%></a>
			</li>
		<% }) -%>
	</ul>
</section>
<script src="/vendors/baguettebox.js/dist/baguetteBox.min.js" defer></script>
<script src="/vendors/flexSlider/jquery.flexslider-min.js" defer></script>
<script src="/js/goods-view.js" defer></script>
<% if(user.adminMode) { %>
	<script src="/admins/js/goods-view.js" defer></script>
<% } %>