<section>
	<div class="d-flex justify-content-between mb-2">
		<h1>Список компонентов</h1>
		<button class="js-show-add-component-form btn">Добавить</button>
	</div>
	<div class="form-group">
		<form method="POST" class="js-add-component-form">
			<div class="mb-2">
				<span>Название:</span>
				<input type="text" class="input-text" name="title">
			</div>
			<div class="mb-2">
				<span>Название контроллера:</span>
				<input type="text" class="input-text" name="ctrl">
			</div>
			<div class="mb-2">
				<span>Место на странице:</span>
				<select class="select-text" name="block_id">
					<% componentBlocks.forEach((block) => { -%>
						<option value="<%= block.id -%>"><%= block.title -%></option>
					<% }) -%>
				</select>
			</div>
			<div class="d-flex">
				<div class="mr-3">
					<span>Статический:</span>
					<label>
						<span>Да</span>
						<input type="radio" name="static" value="1"/>
					</label>
					<label>
						<span>Нет</span>
						<input type="radio" name="static" value="0"/>
					</label>
				</div>
				<div>
					<span>Один на странице:</span>
					<label>
						<span>Да</span>
						<input type="radio" name="once" value="1"/>
					</label>
					<label>
						<span>Нет</span>
						<input type="radio" name="once" value="0"/>
					</label>
				</div>
			</div>
			<div class="d-flex mb-2">
				<div class="mr-3">
					<span>Стили:</span>
				</div>
				<div>
					<span>Скрипты:</span>
				</div>
			</div>
			<div class="mb-2">
				<span>Начальные настройки:</span>
			</div>
			<button class="js-add-component-form--submit btn mb-2">Добавить</button>
		</form>
	</div>
	<% componentsList.forEach((component) => { -%>
		<div class="form-group">
			<form>
				<div class="mb-2">
					<h1><%= component.title -%></h1>
				</div>
				<div class="mb-2">
					<span>Название контроллера:</span>
					<span><%= component.ctrl -%></span>
				</div>
				<div class="mb-2">
					<span>Место на странице:</span>
					<select class="select-text" name="block_id">
						<% componentBlocks.forEach((block) => { -%>
							<% if(block.id === component.block_id) { %>
								<option selected value="<%= block.id -%>"><%= block.title -%></option>
							<% } else { %>
								<option value="<%= block.id -%>"><%= block.title -%></option>
							<% } %>
						<% }) -%>
					</select>
				</div>
				<div class="d-flex">
					<div class="mr-3">
						<span>Статический:</span>
						<label>
							<span>Да</span>
							<input type="radio" name="static" <%= component.static == 1 ? 'checked' : '' -%> />
						</label>
						<label>
							<span>Нет</span>
							<input type="radio" name="static"  <%= component.static == 0 ? 'checked' : '' -%>>
						</label>
					</div>
					<div>
						<span>Один на странице:</span>
						<label>
							<span>Да</span>
							<input type="radio" name="once" <%= component.once == 1 ? 'checked' : '' -%> />
						</label>
						<label>
							<span>Нет</span>
							<input type="radio" name="once" <%= component.once == 0 ? 'checked' : '' -%> />
						</label>
					</div>
				</div>
				<div class="d-flex mb-2">
					<div class="mr-3">
						<span>Стили:</span>
						<span><%= component.styles -%></span>
					</div>
					<div>
						<span>Скрипты:</span>
						<span><%= component.scripts -%></span>
					</div>
				</div>
				<div class="mb-2">
					<span>Начальные настройки:</span>
					<span><%= component.default_config -%></span>
				</div>
				<div class="mb-2">
					<span>Дата добавления:</span>
					<span><%= Helpers.formatDate(component.created, 'dd-MM-yyyy') -%></span>
				</div>
			</form>
		</div>
	<% }) -%>
</section>
<script src="/admins/js/components-manage.js" defer></script>