<section>
	<h1>Поздравляем! Вы успешно оформили заказ.</h1>
	<h2>Заказ <%= order.id -%></h2>
	<h2>Сумма заказа <%= Helpers.formatPrice(order.price) -%> р.</h2>
</section>
<section>
	<table>
		<thead>
			<th>Товары</th>
			<th>Количество</th>
			<th>Стоимость</th>
		</thead>
		<tbody>
			<% orderGoods.forEach((goods) => { %>
				<tr>
					<td><%= goods.goods_title -%></td>
					<td><%= goods.count -%></td>
					<td><%= Helpers.formatPrice(goods.price) -%></td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</section>