<!--<link rel="stylesheet" href="/css/goods-list.css">-->
<div class="text-right">
	<% if(user.adminMode) { %>
		<% if(currentCat.public == '1') { %>
			<button class="btn js-goodsCategories-togglePublic" data-id="<%= currentCat.id -%>" value="0">Скрыть категорию</button>
		<% } else { %>
			<button class="btn js-goodsCategories-togglePublic" data-id="<%= currentCat.id -%>" value="1">Показать категорию</button>
		<% } %>
		<% if(tpl == 'cats-list') { %>
			<button class="btn js-goodsCategories-add" data-parent-id="<%= currentCat.id -%>" data-level="<%= currentCat.level + 1 -%>">Добавить категорию</button>
		<% } else if(data.length == 0) { %>
			<button class="btn js-goodsCategories-add" data-parent-id="<%= currentCat.id -%>" data-level="<%= currentCat.level + 1 -%>">Добавить категорию</button>
			<button class="btn js-goodsPositions-add" data-cat-id="<%= currentCat.id -%>">Добавить товар</button>
		<% } else { %>
			<button class="btn js-goodsPositions-add" data-cat-id="<%= currentCat.id -%>">Добавить товар</button>
		<% } %>
	<% } %>
</div>
<div style="padding: 20px 0px; border-bottom: #c3c3c3 solid 1px; margin-bottom: 20px">
	<% if(user.adminMode) { %>
		<textarea class="js-goodsCategories-upd js-ckeditor-edit" name="cat-desc-update" data-target='description' data-id="<%= currentCat.id -%>"><%= currentCat.description -%></textarea>
	<% } else { %>
		<%- currentCat.description || '' -%>
	<% } %>
</div>
<section>
	<div class="text-right">
		<form id="js-shop-search-form">
			<input type="text" name="searchQuery">
			<button class="btn btn-small mb-1">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</form>
	</div>
</section>
<section id="js-load-content">
	<%- include(`./${tpl}.ejs`) -%>
</section>
<script src="/js/goods-list.js" defer></script>