<link rel="stylesheet" href="/css/goods-list.css">
<div class="text-right">
	<% if(user.adminMode) { %>
		<% if(tpl == 'cats-list') { %>
			<button class="btn js-goodsCategories-add" data-parent-id="<%= currentCat.id -%>" data-level="<%= currentCat.level + 1 -%>">Добавить категорию</button>
		<% } else if(data.length == 0) { %>
			<button class="btn js-goodsCategories-add" data-parent-id="<%= currentCat.id -%>" data-level="<%= currentCat.level + 1 -%>">Добавить категорию</button>
			<button class="btn js-goodsPositions-add" data-cat-id="<%= currentCat.id -%>">Добавить товар</button>
		<% } else { %>
			<button class="btn js-goodsPositions-add" data-cat-id="<%= currentCat.id -%>">Добавить товар</button>
		<% } %>
	<% } %>
</div>
<div style="padding: 20px 0px; border-bottom: #c3c3c3 solid 1px; margin-bottom: 20px">
	<% if(user.adminMode) { %>
		<textarea class="js-goodsCategories-upd js-ckeditor-edit" name="cat-desc-update" data-target='description' data-id="<%= currentCat.id -%>"><%= currentCat.description -%></textarea>
	<% } else { %>
		<%- currentCat.description || 'Описание отсутствует' -%>
	<% } %>
</div>
<%- include(`./${tpl}.ejs`, {Helpers}) -%>