<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
        .admin-fragment-item {
            border: 1px #000 solid;
            padding: 10px;
        }
    </style>
    <main>
        <% fragmentsData.forEach(({id, content, fragment}) => { %>
            <div class="admin-fragment-item">
                <% if(user.adminMode) { %>
                    <div>
                        <button class="js-fragment-edit-type">Сменить тип фрагмента</button>
                        <button class="js-fragment-delete">Удалить фрагмент со страницы</button>
                        <div>
                            <select class="js-upd-fragment-component" data-route-id="<%=routeId-%>" data-fragment-id="<%= id -%>" name="types">
                                <% componentsList.map(c => { %>
                                    <option <%= fragment.component_id == c.id ? 'selected' : '' -%> value="<%=c.id-%>"><%= c.title -%></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                <% } %>
                <h1><%=id-%></h1>
                <%- content -%>
            </div>
        <% }) %>
        <% if(user.admin) { %> 
            <button class="js-add-fragment" data-id="<%=routeId-%>">Добавить фрагмент</button>
        <% } %>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <% if(!!user.adminMode === true) { %> 
        <script src="/admin/js/admin.js"></script>    
    <% } %>
</body>
</html>
