<%- include('./includes/header') -%>
<!--<main class="document-content">
    <aside class="section-left sections">
        <div class="section-title">
            <h3 class="fs-regular">Меню</h3>
        </div>
        <div class="section-menu-wrapp">
			<nav>
				<%- include('./includes/fragments-container', { block_id: 1 }) -%>
			</nav>
		</div>
    </aside>
    <section class="section-center sections">
		<% if(route.show_title) { %>
			<div class="section-title">
				<h3 class="fs-regular text-center"><%= route.title -%></h3>
			</div>
		<% } %>
        <div class="section-content">
            <%- include('./includes/fragments-container', { block_id: 2 }) -%>
        </div>
    </section>
    <aside class="section-right sections">
        <div class="section-title">
            <h3 class="fs-regular">Акции и предложения</h3>
        </div>
        <div class="section-content">
            <%- include('./includes/fragments-container', { block_id: 3 }) -%>
        </div>
    </aside>
</main>-->

<main class="document-content">
    <!--<div class="container-fluid column-container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-md-12">
                <p class="fs-regular column-title">Меню</p>
            </div>
            <div class="col-lg-6 col-md-12 column-bg">
                <p class="fs-regular column-title text-center"><%= route.title -%></p>
            </div>
            <div class="col-lg-3 col-md-12 column-bg">
                <p class="fs-regular column-title">Акции и предложения</p>
            </div>
        </div>
        <div class="row h-100">
            <div class="col-lg-3 col-md-12" style="overflow-y: auto">
                <nav>
                    <%- include('./includes/fragments-container', { block_id: 1 }) -%>
                </nav>
            </div>
            <div class="col-lg-6 col-md-12 column-bg" style="overflow-y: auto">
                <%- include('./includes/fragments-container', { block_id: 2 }) -%>
            </div>
            <div class="col-lg-3 col-md-12 column-bg" style="overflow-y: auto">
                <%- include('./includes/fragments-container', { block_id: 3 }) -%>
            </div>  
        </div>
    </div>-->

    <div class="container-fluid column-container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-md-12 order-lg-1">
                <p class="column-title">Меню</p>
            </div>
            <div class="col-lg-3 col-md-12 order-lg-6" style="overflow-y: auto; height: calc(100vh - 150px)">
                <nav> <!-- блок меню -->
                    <%- include('./includes/fragments-container', { block_id: 1 }) -%>
                </nav>
            </div>
            <div class="col-lg-6 col-md-12 column-bg order-lg-2"> <!-- о компании заголовок -->
                <p class="fs-regular column-title text-center"><%= route.title -%></p>
            </div>
            <div class="col-lg-6 col-md-12 column-bg order-lg-7" style="overflow-y: auto; height: calc(100vh - 150px)">
                <%- include('./includes/fragments-container', { block_id: 2 }) -%>
            </div> <!-- о компании блок -->
            <div class="col-lg-3 col-md-12 column-bg order-lg-3">
                <p class="fs-regular column-title">Акции и предложения</p>
            </div> <!-- Акции и предложения -->
            <div class="col-lg-3 col-md-12 column-bg order-lg-9" style="overflow-y: auto; height: calc(100vh - 150px)">
                <%- include('./includes/fragments-container', { block_id: 3 }) -%>
            </div> <!-- Акции и предложения блок -->
        </div>
    </div>
</main>
<%- include('./includes/footer') -%>