<%- include('./includes/header') -%>

<main class="document-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-12">
                <p class="col-title">Меню</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-12 order-lg-3 order-xl-3 col-scroll">
                <nav>
                    <%- include('./includes/fragments-container', { block_id: 1 }) -%>
                </nav>
            </div>
            <div class="col-xl-10 col-lg-9 col-md-12 order-lg-2 order-xl-2 col-bg">
                <% if(route.show_title) { %>
                    <p class="col-title text-center"><%= route.title -%></p>
                <% } %>
            </div>
            <div class="col-xl-10 col-lg-9 col-md-12 order-lg-3 order-xl-3 col-bg col-scroll">
                <%- include('./includes/fragments-container', { block_id: 2 }) -%>
            </div>
        </div>
    </div>
</main>

<%- include('./includes/footer') -%>