<%- include('./includes/header') -%>
<!--<main class="document-content">
    <aside class="section-left sections">
        <div class="section-title">
            <h3 class="fs-regular">Меню</h3>
        </div>
        <div class="section-menu-wrapp">
			<nav>
				<%- include('./includes/fragments-container', { block_id: 1 }) -%>
			</nav>
		</div>
    </aside>
    <section class="section-center sections">
		<% if(route.show_title) { %>
			<div class="section-title">
				<h3 class="fs-regular text-center"><%= route.title -%></h3>
			</div>
		<% } %>
        <div class="section-content">
            <%- include('./includes/fragments-container', { block_id: 2 }) -%>
        </div>
    </section>
</main>-->

<main class="document-content">
    <div class="container-fluid column-container">
        <div class="row">
            <div class="col-3">
                <p class="fs-regular column-title">Меню</p>
            </div>
            <div class="col-9">
                <% if(route.show_title) { %>
                    <p class="fs-regular column-title text-center"><%= route.title -%></p>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-3 column-content">
                <nav>
                    <%- include('./includes/fragments-container', { block_id: 1 }) -%>
                </nav>
            </div>
            <div class="col-9 column-content">
                <%- include('./includes/fragments-container', { block_id: 2 }) -%>
            </div>
        </div>
    </div>
</main>
<%- include('./includes/footer') -%>