<link rel="stylesheet" href="/css/admin.css">
<style>
    .js-route-edit-form {
        display: none;
    }

    .js-route-item.js-edit-form--show .js-route-edit-form {
        display: block;
    }

    .js-routes-list-add-route {
        display: none;
        margin-bottom: 20px;
    }
</style>
<div>
    <div style="display: flex; flex-flow: row wrap; justify-content: space-between; margin-bottom: 20px">
        <h1>Список маршрутов</h1>
        <button class="btn js-routes-list-showAddForm">Добавить маршрут</button>
    </div>
    <form id="js-routes-list-addForm" class="js-routes-list-add-route" action="/api/routes/add" method="POST">
        <div>
            <label>
                <span>URL маршрута:</span>
                <input name="url" type="text" required>
            </label>
        </div>
        <br>
        <div>
            <label>
                <span>Заголовок маршрута:</span>
                <input name="title" type="text" required>
            </label>
        </div>
        <br>
        <div>
            <span>Шаблон страницы:</span>
            <select name="template_id">
                <% templatesList.forEach((t) => { %>
                    <option value="<%= t.id -%>"><%= t.title -%></option>
                <% }) %>
            </select>
        </div>
        <br>
        <div>
            <input type="radio" name="dynamic" value="1">
            <span>Динамический</span>
            <input type="radio" name="dynamic" value="0" checked>
            <span>Статический</span>
            <br>
            <input type="radio" name="access" value="1" checked>
            <span>Публичный</span>
            <input type="radio" name="access" value="2">
            <span>Только авторизованным</span>
            <input type="radio" name="access" value="3">
            <span>Только администратору</span>
        </div>
        <br>
        <section>
            <h1>SEO установки</h1> 
            <br>
            <div>
                <label>
                    <span>Ключевые слова (meta-keywords):</span>
                    <textarea style="min-width: 99%; max-width: 99%;" name="seo_keywords"></textarea>
                </label>
            </div>
            <br>
            <div>
                <label>
                    <span>Краткое описание (meta-description):</span>
                    <textarea style="min-width: 99%; max-width: 99%;" name="seo_description"></textarea>
                </label>
            </div>
        </section>
        <br>    
        <div>
            <button>Добавить</button>
        </div>
    </form>
    <ul class="route-items">
        <% routesList.map((r) => { %>
            <li class="js-route-item route-item" style="">
                <a href="<%= r.url -%>"><%= r.url + ' - ' + r.title -%></a>
                <button class="js-show-edit-route-form" data-route-id="<%= r.id -%>">Редактировать</button>
                <button class="js-delete-route" data-route-id="<%= r.id -%>">Удалить маршрут</button>
                <br>
                <br>
                <div class="js-route-edit-form" style="">
                    <form class="js-routes-list-upd-route" action="/api/routes/upd" method="POST">
                        <h1>Изменить маршрут</h1>
                        <div>
                            <label>
                                <span>URL маршрута:</span>
                                <input name="url" type="text" value="<%=r.url-%>" required>
                            </label>
                        </div>
                        <br>
                        <div>
                            <label>
                                <span>Заголовок маршрута:</span>
                                <input name="title" type="text" value="<%=r.title-%>" required>
                            </label>
                        </div>
                        <br>
                        <div>
                            <span>Шаблон страницы:</span>
                            <select name="template_id">
                                <% templatesList.forEach((t) => { %>
                                    <option value="<%= t.id -%>" <%= r.template_id == t.id ? 'selected' : '' %> ><%= t.title -%></option>
                                <% }) %>
                            </select>
                        </div>
                        <br>
                        <div>
                            <input type="radio" name="access" value="1" <%= r.access == 1 ? 'checked' : ''-%>>
                            <span>Публичный</span>
                            <input type="radio" name="access" value="2" <%= r.access == 2 ? 'checked' : ''-%>>
                            <span>Только авторизованным</span>
                            <input type="radio" name="access" value="3" <%= r.access == 3 ? 'checked' : ''-%>>
                            <span>Только администратору</span>
                        </div>
                        <% if(user.root) { %>
                            <div>
                                <span>Разрешить редактирование</span>
                                <label>
                                    <input type="radio" name="edit_access" value="0" <%= r.edit_access == "0" ? 'checked' : ''-%>>
                                    <span>Нет</span>
                                </label>
                                <label>
                                    <input type="radio" name="edit_access" value="1" <%= r.edit_access == "1" ? 'checked' : ''-%>>
                                    <span>Да</span>
                                </label>
                                <br>
                            </div>
                            <div>
                                <span>Разрешить удаление</span>
                                <label>
                                    <input type="radio" name="delete_access" value="0" <%= r.edit_access == "0" ? 'checked' : ''-%>>
                                    <span>Нет</span>
                                </label>
                                <label>
                                    <input type="radio" name="delete_access" value="1" <%= r.edit_access == "1" ? 'checked' : ''-%>>
                                    <span>Да</span>
                                </label>
                                <br>
                            </div>
                        <% } %>
                        <br>
                        <section>
                            <h1>SEO установки</h1> 
                            <br>
                            <div>
                                <label>
                                    <span>Ключевые слова (meta-keywords):</span>
                                    <textarea style="min-width: 99%; max-width: 99%;" name="seo_keywords"><%= r.seo_keywords%></textarea>
                                </label>
                            </div>
                            <br>
                            <div>
                                <label>
                                    <span>Краткое описание (meta-description):</span>
                                    <textarea style="min-width: 99%; max-width: 99%;" name="seo_description"><%= r.seo_description%></textarea>
                                </label>
                            </div>
                        </section>
                        <br>
                        <div>
                            <button>Сохранить</button>
                        </div>
                        <input type="hidden" name="id" value="<%=r.id-%>">
                    </form>
                </div>
            </li>
        <% }) %>
    </ul>
</div>
<script src="/js/routes-list.js" defer></script>