<div class="section-title" style="display: flex; flex-flow: row wrap; align-items: center;">
	<a href="<%= fragment.settings.listUrl ? fragment.settings.listUrl : '#' -%>" style="text-decoration: underline;">Вернуться к списку</a>
	<h3 class="fs-regular text-center" style="margin: auto;"><%= post.title -%></h3>
</div>
<% if(user.adminMode) { %>
	<span>Адрес списка публикаций</span>
	<input class="js-fragment-update-settings" data-event="input" data-target="listUrl" data-fragment-id="<%= fragment.id -%>" data-reload="false" type="text" value="<%= fragment.settings.listUrl -%>">
<% } %>
<div class="news content">
	<% if(user.adminMode) { %>
		<div class="admin-control-container">
			<span>Категория:</span>
			<select class="js-post-update" data-reload="true" data-target="cat" data-id="<%= post.id -%>">
				<option value="0">Не выбрано</option>
				<% postCategories.forEach((category) => { -%>
					<% let selected = post.cat == category.id ? 'selected' : '' -%>
					<option value="<%= category.id -%>" <%= selected -%>><%= category.title -%></option>
				<% }) -%>
			</select>
			<% if(post.public) { %>
				<button data-id="<%= post.id -%>" data-value="0" class="btn news-publicate js-post-togglePublication">Снять с публикации</button>
			<% } else { %>
				<button data-id="<%= post.id -%>" data-value="1" class="btn news-publicate js-post-togglePublication">Публиковать</button>
			<% } %>
			<label class="btn news-change-photo">
				<input type="file" class="js-post-upload-mainphoto" data-id="<%= post.id -%>" id="news-upload-mainphoto" style="display: none">
				<span>Изменить фото</span>
			</label>
			<button data-id="<%= post.id -%>" class="btn news-delete js-post-delete">Удалить</button>
		</div>
	<% } %>
	<% if(user.adminMode) { %>
		<span>Заголовок:</span>
		<input class="input-text js-post-update" type="text" data-target="title" data-id="<%= post.id -%>" value="<%= post.title -%>">
		<span>Подзаголовок:</span>
		<input class="input-text js-post-update" type="text" data-target="subtitle" data-id="<%= post.id -%>" value="<%= post.subtitle -%>">
		<span>Источник новости:</span>
		<input class="input-text js-post-update" type="text" data-target="source_link" data-id="<%= post.id -%>" value="<%= post.source_link -%>">
	<% } %>
	<div class="news__news-right">
		<% if(!!user.adminMode == false) { %>
			<div class="text-center">
				<h2>
					<em><%= post.subtitle -%></em>
				</h2>
			</div>
		<% } %>
		<div class="news__news-text text-indent_p text-margin-bottom-p">
			<% if(user.adminMode) { %>
				<textarea data-target="text" data-id="<%= post.id -%>" class="js-post-update js-ckeditor-edit"><%- post.text -%></textarea>
			<% } else { %>
				<%-post.text-%>
				<% if(post.source_link) { %>
					<a href="<%= post.source_link -%>" style="text-decoration: underline"><b>Ссылка на источник</b></a>
				<% } %>
				<div class="text-right">
					<span>Опубликовано <%= Helpers.formatDate(post.published, 'dd MMMM yyyy в hh:mm') -%></span>
				</div>
			<% } %>
		</div>
	</div>
</div>
<section class="similar-posts">
	<% if(user.adminMode) { %>
		<input type="text" class="js-post-update input-text" value="<%= post.similar_posts_id -%>" data-reload="false" data-target="similar_posts_id" data-id="<%= post.id -%>">
	<% } %>
	<ul>
		<% similarPosts.forEach((post) => { -%>
			<li>
				<img src="<%= post.main_photo -%>" alt="">
				<a href="<%= post.id -%>"><%= post.title -%></a>
			</li>
		<% }) -%>
	</ul>
</section>
<% if(user.adminMode) { %>
	<script src="/admins/js/posts-list.js" defer></script>
<% } %>