<link rel="stylesheet" href="/vendors/flexSlider/flexslider.css">
<link rel="stylesheet" href="/css/slider.init.css">
<div class="slider-container">
	<div id="slider" class="flexslider">
		<ul class="slides">
			<% slides.map((s, index) => { %>
				<li>
					<div class="slider-info__container">
						<div class="slider-item" style="background-image: url(<%= s.img %>)"></div>
						<div class="slider-info">
							<% if(user.adminMode) { %>
								<input type="text" class="js-goodsCategories-upd input-text" data-target="title" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>" value="<%= s.title -%>">
							<% } else { %> 
								<h1><%= s.title %></h1>
							<% } %>
							<% if(user.adminMode) { %>
								<div>
									<textarea style="min-width: 100%; max-width: 100%; min-height: 150px" class="js-goodsCategories-upd" data-target="description" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>"><%- s.description -%></textarea>
								</div>
							<% } else { %> 
								<div class="text-center">
									<%- Helpers.replaceLineBreaks(s.description) %>
								</div>
							<% } %>
							<% if(user.adminMode) { %>
								<div>
									<label>Добавить фото
									<input class="js-goodsCategories-addPhoto" data-target="img" data-fragment-id="<%= locals.fragment.id -%>" data-id="<%= s.id -%>" type="file" style="display: none;">
									</label>
								</div>
							<% } %>
							<div class="slider-action">
								<a href="/shop-categories/<%= s.id %>" class="btn">Подробнее</a>
							</div>
						</div>
					</div>
				</li>
			<% }) %>
			<% if(user.adminMode === true) { %>
				<!-- пустой слайд для правильной навигации -->
				<li>
					<div class="slider-info__container">
						<div class="slider-item"></div>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
	<div id="carousel" class="flexslider">
		<ul class="slides">
			<% slides.map((s, index) => { %>
				<li data-id="<%= s.id -%>">
					<div class="container-item__container">
						<div class="carousel-item" style="background-image: url(<%= s.img_bottom || s.img %>)"></div>
						<% if(user.adminMode === true) { %>
							<div style="position: absolute;right: 10px;font-weight: bold;top: 5px;cursor: pointer;">
								<span class="slide-show-settings js-goodsCategories-delete" data-id="<%=s.id %>" data-fragment-id="<%= locals.fragment.id -%>">Удалить</span>
							</div>
							<% if(index > 0) { %>
								<button class="btn js-goodsCategories-moveSlide" 
									data-fragment-id="<%= locals.fragment.id -%>" 
									data-current-position="<%= index -%>" 
									data-id="<%= s.id -%>" 
									data-vector="-1"
									style="position: absolute; top: 50%; left: 0px">&larr;</button>
							<% } %>
							<% if(index < slides.length -1) { %>
								<button class="btn js-goodsCategories-moveSlide" 
									data-fragment-id="<%= locals.fragment.id -%>"
									data-current-position="<%= index -%>" 
									data-id="<%= s.id -%>" 
									data-vector="1"
									style="position: absolute; top: 50%; right: 0px">&rarr;</button>
							<% } %>
						<% } %>
						<div class="carousel-link__container">
							<% if(user.adminMode) { %>
							<div>
								<span>Заголовок:</span>
								<input type="text" class="js-goodsCategories-upd" data-target="title_bottom" data-id="<%= s.id -%>" data-fragment-id="<%= locals.fragment.id -%>" value="<%= s.title_bottom -%>">
							</div>
							<% } else { %>
								<a href="/shop-categories/<%= s.id %>"><%= s.title_bottom || s.title %></a>
							<% } %>
						</div>
					</div>
				</li>
			<% }) %>
			<% if(user.adminMode === true) { %>
				<li>
					<div class="container-item__container js-goodsCategories-add" data-page="<%= locals.page%>" data-fragment-id="<%= locals.fragment.id%>">
						<div class="carousel-item"></div>
						<div class="carousel-link__container">
							<a href="#">Добавить</a>
						</div>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
	<div class="mobile-nav">
		<ul>
			<% slides.map(s => { %>
				<li>
					<div class="container-item__container">
						<div class="carousel-link__container">
							<a href="/shop-categories/<%= s.id %>"><%= s.title %></a>
						</div>
					</div>
				</li>
			<% }) %>
		</ul>
	</div>
</div>
<script defer src="/js/slider.init.js"></script>
<script defer type="text/javascript" src="/vendors/flexSlider/jquery.flexslider.js"></script>